{% extends 'mainbase.html' %}
{% load static %}
{% block title %}Mainhome{% endblock %}
{% block content %}
        
<img src="{% static 'images/uni1.jpg' %}" class="img-fluid" alt="..." style="width:100%;height:500px;">
      
    <h3 style="text-align:center;color:rgb(9, 9, 56);">WELCOME TO MIDTOWN UNI</h3>
      
<p style="margin-left:20px;margin-right:20px;">The Midtown Uni is part of the prestigious Russell Group of universities, with outstanding facilities and the widest range of courses. We are highly respected across the globe as a centre of teaching excellence and innovative research.

    With 25 Nobel Prize winners among our current and former staff and students, we have a history of world firsts and brilliant discoveries, from splitting the atom to giving the world graphene.
    
    We are committed to world-class research, an outstanding learning and student experience, and social responsibility in everything we do. <p>
        <p style="margin-left:20px;margin-right:20px;">The Midtown Uni is part of the prestigious Russell Group of universities, with outstanding facilities and the widest range of courses. We are highly respected across the globe as a centre of teaching excellence and innovative research.
            With 25 Nobel Prize winners among our current and former staff and students, we have a history of world firsts and brilliant discoveries, from splitting the atom to giving the world graphene.
            
            We are committed to world-class research, an outstanding learning and student experience, and social responsibility in everything we do. <p>
   
    {% endblock %}

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> 
       <script src="" async defer></script>
    </body>

</html>